alabaster==0.7.10
Babel==2.5.1
backports-abc==0.5
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
bleach==1.5.0
certifi==2018.8.24
click==6.7
cycler==0.10.0
decorator==4.1.2
docutils==0.14
enum34==1.1.6
fire==0.1.2
funcsigs==1.0.2
futures==3.1.1
html5lib==0.9999999
imagesize==0.7.1
ipython==5.5.0
ipython-genutils==0.2.0
livereload==2.5.1
logzero==1.5.0
Markdown==2.6.9
matplotlib==2.1.0
mkdocs==0.17.1
mock==2.0.0
numpy==1.13.3
olefile==0.44
opencv-python==3.4.2.17
pandas==0.21.0
pathlib2==2.3.0
pbr==3.1.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==6.2.0
pockets==0.5.1
prompt-toolkit==1.0.15
protobuf==3.5.0.post1
ptyprocess==0.5.2
pydoc-markdown==2.0.1
Pygments==2.2.0
Pyment==0.3.2
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==5.1
redis==2.10.6
scandir==1.6
scikit-learn==0.19.1
scipy==1.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
snack==0.0.3
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinxcontrib-napoleon==0.6.1
sphinxcontrib-websupport==1.0.1
subprocess32==3.2.7
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0rc3
tornado==4.5.2
traitlets==4.3.2
typing==3.6.2
wcwidth==0.1.7
Werkzeug==0.15.3
